@import "tailwindcss/preflight";
@tailwind utilities;

/* Efeitos personalizados */
.bg-grid-pattern {
  background-image: linear-gradient(
      rgba(0, 240, 252, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 240, 252, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
}

/* Animações */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
